@model WeightFormulaType

<tr class="dialog" data-action="@Url.Action("Edit", new { guid = Model.WeightFormulaTypeID })" data-method="update" data-width="600px" title="Edit ‘@Model.WeightFormulaTypeName’ Weight Formula Type">
    <td>@Model.WeightFormulaTypeID</td>
    <td>@Model.WeightFormulaTypeName</td>
</tr>
